extend base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg.nav__item--icon
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      // Nav links/admin tools
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        - if (user.role === 'admin')
          .line.line__divider &nbsp;
          .admin-nav
            h5.admin-nav__heading Admin Management Panel
            ul.side-nav
              +navItem('#', 'Tours', 'map')
              +navItem('#', 'Users', 'users')
              +navItem('#', 'Reviews', 'star')
              +navItem('#', 'Bookings', 'briefcase')

      // Account settings
      .user-view__content
        // Name/email settings
        .user-view__form-container
          form.form.form-user-data
            h2.heading-secondary account settings
            .form__row
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__row
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__row.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo',
                name='photo')
              label.btn__upload(for='photo') Choose new photo
            .form__row
              button#update-data.btn.btn--small.btn--form Save settings

        .line.line__divider &nbsp;

        // Password settings
        .user-view__form-container
          form.form.form-user-password
            h2.heading-secondary.ma-bt-md password change
            .form__row
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__row
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__row
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__row
              button#btn-pass-update.btn.btn--form Save password
